<%= form_for(@vistit) do |f| %>
  <% if @vistit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vistit.errors.count, "error") %> prohibited this vistit from being saved:</h2>

      <ul>
      <% @vistit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timeinstore %><br>
    <%= f.number_field :timeinstore %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
