<p id="notice"><%= notice %></p>

<p>
  <strong>Timeinstore:</strong>
  <%= @vistit.timeinstore %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vistit.date %>
</p>

<%= link_to 'Edit', edit_vistit_path(@vistit) %> |
<%= link_to 'Back', vistits_path %>
