<%= form_for(@gaming) do |f| %>
  <% if @gaming.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gaming.errors.count, "error") %> prohibited this gaming from being saved:</h2>

      <ul>
      <% @gaming.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :urlgame %><br>
    <%= f.text_field :urlgame %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
